-# in app/views/movies/same_director.html.haml

%h2 Movies by #{@movie.director}

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
  %tbody
    - @similar_movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date

